h1 {
    text-align: center;
    margin-top: 25px;
}

.SignUp {
    background: lightskyblue;
    padding: 20px;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 45px;
    margin-bottom: 25px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    font-size: large;
    width: 100%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid blue;
}

[type="submit"] {
    width: 15%;
    padding: 10px 15px;
    background-color: lightgreen;
    margin: 0 auto;
    display: block;
    border-radius: 7px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 1px;
}

[type="submit"]:hover {
    opacity: 0.7;
}

.topLinks {
    list-style-type: none;
    background-color: lightseagreen;
    padding: 4px;
}

.topLinks li {
    display: inline;
    font-size: large;
}

.topLinks a {
    text-decoration: none;
    color: greenyellow;
    padding-top: 2px;
    padding-bottom: 2px;

}

.topLinks a:hover {
    background-color: cornsilk;
    overflow: hidden;
}

.active {
    /* Remove the padding declaration */
}

.rightLink {
    float: right;
    padding: 15px 25px;
    
}
